{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	{% for message in app.flashes('notice') %}
	<div class="alert alert-success" role="alert">
		{{ message }}
	</div>
	{% endfor %}
	
	<div class="jumbotron mt-5">
		<h1 class="display-4">TP 2 symfony : annuaire d'articles.</h1>
		<hr class="my-4">
	</div>
	<img class="rounded img-fluid" src="/images/ukraine.jpg" alt="Hero banner">
	<i class="fas fa-arrow-down w-100 text-center my-5" style="font-size:60px;"></i>
	<hr class="my-4">

	<div class="cards my-5 d-flex justify-content-between">

		{% for post in posts %}

			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="/images/{{post.image}}" alt="Article image">
				<div class="card-body">
					<h5 class="card-title">{{post.title }}</h5>
					<p class="card-subtitle">{{post.category }}</p>
					<p class="card-text">{{post.description }}</p>
					<a href={{ path('show_article',{'id': post.id } ) }} class="btn btn-primary">Voir l'article</a>
					<a href={{ path('update_article',{'id': post.id } ) }}>
						<i class="far fa-edit"></i>
					</a>
					<a href={{ path('delete_article', {'id': post.id} ) }}>
						<i class="fas fa-trash-alt"></i>
					</a>
				</div>
			</div>

		{% endfor %}
	
  </div>

{% endblock %}

