{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-4">ERROR 404 !</h1>
  <p class="lead">Cette page n'existe pas.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href={{path("home")}} role="button">Learn more</a>
  </p>
</div>
{% endblock %}