{% extends "base.html.twig" %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}

	{{form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		{{form_widget(form)}}
	{{form_end(form)}}

{% endblock %}
