{% extends 'base.html.twig' %}

{% block title %}{{post.title}}{% endblock %}

{% block body %}

<div class="row mt-5">
    <div class="col-sm">
        <img src="/images/{{post.image}}" class="img-thumbnail" alt="">
    </div>
    <div class="col-sm">
        <div class="row"> <h1> Titre : {{post.title}}</h1></div>
        <div class="row"> <h5>Catégorie : {{post.category}}</h5></div>
        <div class="row"><p>Détail : {{post.description}}</p></div>
    </div>
</div>

{% endblock %}
